:root {
  color-scheme: light dark;
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
}

html.dark {
  color-scheme: dark;
}
body {
  background-color: light-dark(var(--white), var(--black));
  overflow-x: hidden;
  transition:
    background-color 0.35s ease,
    color 0.35s ease;
}

main {
  min-height: 100vh;
}
