---
//@ts-nocheck
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro'
import Countdown from '../components/Countdown.astro';

import Breadcrumbs from '../components/Breadcrumbs.astro';

import Card from '../components/Card.astro';
import '../styles/effects.css';
import '../styles/global.css';
import '../styles/reset.css';
import '../styles/typography.css';
import '../styles/variables.css';


---

<Layout>

<Hero/>
<Breadcrumbs />
  <section >
  <div class="card-grid">
<Card 
  badgeText="Vi donerer til Den Danske Naturfond" 
  overlayText="Denne tekst er indsat af mig"
  mediaUrl="/images/kalkgrav.webp" 
    altText="Flot naturlandskab"
/>


<Card 
  badgeText="Test"
  mediaUrl="/src/assets/tree.svg"
  altText="Mit ikon"
/>

    </div>
  <Countdown />
  <Countdown forceMobile={true} />
</section>
  
</Layout>


<style>

  /* Grid: Mobil first (1 kolonne) */
  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Desktop version (Skærme over 768px) */
  @media (min-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 kolonner på desktop, eller brug 'repeat(auto-fit, minmax(300px, 1fr))' */
    }
  }
</style>
