---
//@ts-nocheck
import Layout from '../layouts/Layout.astro';
import Buttons from '../components/Buttons.astro';
import Accordion from '../components/Accordion.astro';
---

<Layout>

<section class="test-section">

  <h2>Glass Buttons</h2>

  <div class="buttons-wrapper glass">

    <Buttons
      text="Primary"
      variant="red500"
      link="/"
    />

    <Buttons
      text="Neutral"
      variant="neutral800"
    />

    <Buttons
      text="Light"
      variant="white"
    />

  </div>


  <h2>Accordion</h2>

  <div class="glassdark">

    <Accordion
      title="Betal smart"
      content="Dankort gør betalinger hurtige og nemme."
      variant="lightmode"
    />

    <Accordion
      title="Betal sikkert"
      content="Alle betalinger er beskyttet."
      variant="darkmode"
    />

  </div>

</section>

</Layout>

<style>

.test-section {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  padding: 2rem;
}

</style>