---
//@ts-nocheck
const  { title, content, variant } = Astro.props;
---

<details class={`accordion ${variant}`}>
    <summary>
        <h3>{title}</h3>
         <span class="accordion-icon"></span>
    </summary>
    <div class="accordion-content">
        <p>{content}</p>
    </div>
       
</details>

<style>
   .accordion { 
        border-top: 1px solid var(--neutral-300);
        padding: 1rem 0;

   }

summary { 
    cursor: pointer;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.accordion-icon::before {
    content: "+";
}
details[open] .accordion-icon::before {
    content: "-";
}
.accordion-content {
    margin-top: 1rem;
}

    .lightmode { 
        color: var(--neutral-300) ;
        /* color: var(--white); */
    }

    .darkmode { 
        color: var(--neutral-800);
        /* color: var(--black); */
    }
</style>