---
import '../layouts/Layout.astro'
import '../components/Buttons.astro'
import Buttons from '../components/Buttons.astro'
const { headline, text } = Astro.props
---

<article class="hero">
  
  <video class="hero-video"
    autoplay
    muted
    loop
    playsinline
  >

     <source src="/videoes/desktop-hero.mp4" type="video/mp4" />

  </video>
    <div id="text-box-hero" class="glass">
    <h2>Støt <b>Øremærket</b> - <br> Brug Dankort i dag</h2>
    <div id="hero-text-flex"> 
    <h3>Betal smart</h3>
    <h3>Betal hurtigt</h3>
    <h3>Betal sikkert</h3>
    </div>
   
    <div id="buttons-hero">
    <Buttons
    text="Læs om Øremærket"
    variant="red500"/>

    <Buttons
     text="Bestil Dankort"
     variant="white-hero"/>

  </div>

  </div>
  
</article>

<style>

#buttons-hero{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    width: 200px;
}

#text-box-hero {
  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;


}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

#buttons-hero{
}

#hero-text-flex{
    display: flex;
    gap: 40px;
flex-direction: column;
align-items: flex-start;

}
#text-box-hero{
display: flex;
flex-direction: column;
gap: 40px;
width: 328px;
height: 450px;
padding: 25px;

}
@media (min-width: 700px) {
#buttons-hero{
    flex-direction: row;
    gap: var(--gap-m);
    width: 500px;
}
#hero-text-flex{
    display: flex;
   flex-direction: row;
   align-items: flex-start;
   
}
  #text-box-hero {
    left: 30%;
    display: flex;
   flex-direction: column;
   align-items: flex-start;
    width: 800px;
    height: 400px;
    gap: 65px;
  }
}
/* HUSK AT TILFØJE EN KNAP MERE */
</style>