---
//@ts-nocheck
import omOsKort from '../assets/om-os-kort.svg';

import '../styles/effects.css';
import '../styles/global.css';
import '../styles/reset.css';
import '../styles/typography.css';
import '../styles/variables.css';

---


<div class="card-container" style={`background-image: url(${omOsKort.src});`}>
  <p class="card-text-list">
    <p>Hver gang du bruger <strong>Dankort</strong>, donerer vi 1 øre pr. transaktion.</p>
    <p>Er din <strong>bank</strong> en samarbejdspartner donerer de 1 øre pr. transaktion.</p>
    <p>Hvis du handler i en <strong>butik/webshop</strong> der er samarbejdspartner donerer de 1 øre pr. transaktion.</p>
</p>
</div>

<style>
.card-container {
  position: relative;
  width: 100%;
  max-width: 650px;
  aspect-ratio: 1.58 / 1;
  margin: 2rem auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 1.5rem;
  color: var(--white);
  gap: 1rem;
 
}

.card-text-list {
  display: flex;
  flex-direction: column;
  
}
</style>