---
//@ts-nocheck
import Samarbejdspartner from "../components/Samarbejdspartner.astro"
import Blobs from '../components/Blobs.astro'
---

<section class="section">
    <div class="text">
        <h2>Vores samarbejdspartnere</h2>
        <p>Dankort Øremærket og deres samarbejdspartnere gør det muligt for dig at støtte nemt og enkelt til Den Danske Naturfond. Gennem deres samarbejde fra bank til butikker gør du en forskel i hverdagen. Og sammen med dem, vokser de små donationer sig større og større. Hver gang du betaler med Dankort hos en tilknyttet samarbejdspartner kan både banken og butikken bidrage en øre til initiativet. På den måde er vores samarbejdspartnere med til at gøre et bæredygtigt initiativ mere tilgængeligt for den almindelige bruger.</p>
    </div>
    <Samarbejdspartner/>
</section>

<style>
    .section {
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
    }
    .text{
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
    }
</style>
