---
//@ts-nocheck
import '../styles/effects.css';
import '../styles/global.css';
import '../styles/reset.css';
import '../styles/typography.css';
import '../styles/variables.css';
import Pagination from '../components/Pagination.astro';
import CardKarrusel from '../components/CardKarrusel.astro';

const mineManuelleKort = [
  {
    href: "https://tiktok.com",
    badgeText: "TikTok",
    mediaUrl: "/images/djmedoreremaerket.webp",
    overlayText: ""
  },
  {
    href: "https://instagram.com",
    badgeText: "Instagram",
    mediaUrl: "/images/pigerpaastranden.webp",
    overlayText: ""
  },
  {
    href: "https://facebook.com",
    badgeText: "Facebook",
    mediaUrl: "/images/gravidungpige.webp",
    overlayText: ""
  }
]
---

<section class="socials_grid">
  <h2>Følg os på sociale medier</h2>
  <p>Følg med på de sociale medier og hold dig opdateret på nyheder, samarbejder, projekter og inspiration.
Bliv en del af fællesskabet og se, hvordan vi sammen kan støtte gode formål, én betaling ad gangen.</p>
  <CardKarrusel items={mineManuelleKort} />
      <div style="margin-top: 3rem; display:flex; justify-content:center;">
        <Pagination current="0" />
    </div>
</section>

<style>
    .socials_grid {
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
    }
    
    </style>