---
import '../styles/reset.css'
import '../styles/variables.css'
import '../styles/typography.css'
import '../styles/effects.css'
import '../styles/global.css'
---
<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Dankort Øremærket</title>
	</head>
	<body>
		<slot />
		<script type="module" src="/src/scripts/general.js"></script>
	</body>
</html>

<style>
</style>
