---
import '../styles/reset.css'
import '../styles/variables.css'
import '../styles/typography.css'
import '../styles/effects.css'
import '../styles/global.css'
---
<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- change favicon slay -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />

		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Reenie+Beanie&display=swap" rel="stylesheet">
		
		<meta name="generator" content={Astro.generator} />
		<title>Dankort Øremærket</title>
	</head>
	<body>
		<slot />
		<script type="module" src="/src/scripts/darkmode.js"></script>
	</body>
</html>

<style>
</style>
